<div class="pony-section pony-topper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>New Email</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in rutrum sem. Cras molestie, lectus a lobortis interdum, diam mauris ultricies felis.</p>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
      </div>
    </div>
  </div><!-- /.container -->
</div>

<%= render 'form' %>